@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'fonts.css';

:root {
  --barlow-font-medium: 'Barlow Medium', sans-serif;
  --barlow-font-semibold: 'Barlow SemiBold', sans-serif;
  --barlow-font-bold: 'Barlow Bold', sans-serif;
}

body {
  font-family: 'Barlow Medium', sans-serif;
}

/* polices */
.texte {
  font-size: 22px;
  line-height: 130%;
}

.grand-titre {
  font-size: 40;
  font-family: var(--barlow-font-bold);
}

.petit-titre {
  font-size: 24px;
  font-family: var(--barlow-font-bold);
}

.petit-texte {
  font-size: 16px;
  line-height: 145%;
  font-weight: 500;
}

.liens {
  font-size: 16px;
  line-height: 130%;
  font-family: var(--barlow-font-bold);
}

.button {
  font-family: var(--barlow-font-bold);
}

.titan-titre {
  font-size: 64px;
  font-family: var(--barlow-font-bold);
}

.petit-texte-gras {
  font-size: 16px;
  font-family: var(--barlow-font-bold);
  line-height: 145%;
}

.titan-titre-mobile {
  font-size: 52px;
  font-family: var(--barlow-font-bold);
}

.grand-titre-mobile {
  font-size: 32px;
  font-family: var(--barlow-font-bold);
  line-height: 140%;
}

.petit-texte-mobile {
  font-size: 14px;
  line-height: 145%;
}

/* effets */

.effet-orange {
  filter: drop-shadow(0px 4px 20px rgba(244, 117, 89, 0.4));
}

.effet-marron {
  filter: drop-shadow(0px 4px 20px rgba(183, 87, 67, 0.4));
}

.effet-blanc {
  filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
}

.effet-bleu {
  filter: drop-shadow(0px 4px 20px rgba(73, 112, 182, 0.4));
}




.accueil_hero--header {
  background-image: url('../../assets/accueil-bg.svg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



@media (min-width: 640px) and (max-height: 808px) {

  .accueil_hero--header {
      background-image: url('../../assets/accueil-bg-tablet.svg');
  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
}

@media (min-width: 640px) and (min-height: 809px) {

  .accueil_hero--header {
    background-image: url('../../assets/accueil-bg-tablet-2.svg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1280px) {

  .accueil_hero--header {
    background-image: url('../../assets/accueil-bg-desktop.svg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

    .accueil_info {
      background-image: url('../../assets/accueil-info-desktop.svg');
  
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
}

